<html><head>
        <title>updateWid</title>
        <meta charset="utf-8">
        <meta name="description" content="updateWid">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><style type="text/css"></style> 
    <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style></head>
    <body style="">
        <h1>updateWid</h1>

        <p>Description: Allows the user to update a wid</p>
        <p id="parameters">Parameters being used: [{ "executethis":"updatewid", "Wid":"joetestwid","datetime":"1380108750547"}]</p>
        <p id="testUpdate">UpdateWid Results:  SUCCESS: {}</p>
        <p id="joetestwid">joetestwid Contents:  SUCCESS: {"_id":"51c1c817e7a2761a643fbda7","color":"red","wid":"joetestwid"}</p>
    <div>   
        <input type="button" value="click to test updateWid" onclick="updateWidTest()">
    </div>
    
    <footer>
        <p>Page Updated: 2013-09-20 12:43:36 -0400</p>
    </footer>
    <script type="text/javascript">
    var datetime = Date.now();
    $('#dateTime').text("DateTime: " + datetime);
    var string = 'Parameters being used: { "executethis":"updatewid", "Wid":"joetestwid","datetime":' + "\"" + datetime + "\"}";
    $('#parameters').text(string);
    
    function updateWidTest() {
        var datetime = Date.now();
        $('#dateTime').text("DateTime: " + datetime);
        var string = 'Parameters being used: [{ "executethis":"updatewid", "Wid":"joetestwid","datetime":' + "\"" + datetime + "\"}]";
        $('#parameters').text(string);

        var list = [];
        var parameters = {};
        var result;

        parameters.executethis = 'updatewid';
        parameters.Wid = 'joetestwid';
        parameters.datetime = datetime;
        list.push(parameters);

        parameters_string = JSON.stringify(list);
        alert(parameters_string);

        $.ajax({
            type: 'PUT',
            dataType: 'json',
            url: '/executethis',
            headers: {'content-type':'Application/json'},
            global: 'false',
            cache: 'false',
            async: 'false',
            data: parameters_string,
            success: function(data) {
                if(data.error){
                    result = " APPLICATION ERROR: "+JSON.stringify(data);
                }else{
                    result = " SUCCESS: "+JSON.stringify(data);
                }
                $("#testUpdate").text("UpdateWid Results: " + result);
            },
            error: function(result) {
                alert('Failed\n---------' + result);
            }
        });
    
        var list = [];
        var parameter = {};
        var result;

        parameter.executethis = 'getWid'
        parameter.wid = 'joetestwid'
        list.push(parameter);
     
        //parameters.fromWid = 'codyTestSms'
        parameters_string = JSON.stringify(list)

        $.ajax({
            type: 'PUT',
            dataType: 'json',
            url: '/executethis',
            headers: {'content-type':'Application/json'},
            global: 'false',
            cache: 'false',
            async: 'false',
            data: parameters_string,
            success: function(data) {
                if(data.error){
                    result = " APPLICATION ERROR: "+JSON.stringify(data);
                }else{
                    result = " SUCCESS: "+JSON.stringify(data);
                }
                $("#joetestwid").text("joetestwid Contents: " + result);
            },
            error: function(result) {
                alert('Failed\n---------' + result);
                console.log(result.msg);
                $("#joetestwid").text("joetestwid Contents: " + result);
            }
        });
    }
    </script>
<iframe id="rdbIndicator" width="100%" height="270" border="0" src="chrome-extension://oknpjjbmpnndlpmnhmekjpocelpnlfdi/indicator.html" style="display: none; border: 0; position: fixed; left: 0; top: 0; z-index: 2147483647"></iframe></body></html>